@use '../abstract/variables';
@use '../abstract/mixins';

.siteMain{
    margin:10% 5%
}

.siteMain__weekDay{
    h2{
        @include mixins.ff-fs-fw-fc(variables.$primary-font,16px,700,variables.$quaternary-color);
        margin-bottom:0.5rem;
    }
}

.siteMain__weekDay__appointments{
    display: flex;
    flex-direction:column;
    gap:16px;
    margin-bottom: 2rem;
}

.siteMain__weekDay__appointments__card{
    display: grid;
    background: variables.$primary-color;
    border-radius: 8px;
    backdrop-filter: blur(11px);
    width: 328px;
    height:170px;
    
    grid-template-columns: 1rem 3rem 1.6rem 5.3rem 6.7rem auto;
    grid-template-rows:1.3rem 1.3rem  1.7rem 0.8rem 1.6rem auto;     
}

.siteMain__weekDay__appointments__card__profilePic{
    grid-area: 2 / 2 / 3 / 3;
    width: 32px;
    height: 32px;

    border-radius: 16px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.siteMain__weekDay__appointments__card__name{
    grid-area: 2/3/3/5;
    width: 116px;
    position: absolute;
    bottom: 0.1rem;
    @include mixins.ff-fs-fw-fc(variables.$primary-font,14px,700,variables.$quaternary-color);
    line-height: 160%;    
}

.siteMain__weekDay__appointments__card__chat{
    grid-area: 2/6/3/7;
    width: 32px;
    height: 32px;
}

.siteMain__weekDay__appointments__card__camera{
    grid-area:3/3/4/4;
    width: 16px;
    height: 10.667px;
}

.siteMain__weekDay__appointments__card__service{
    grid-area:3/4/4/6;
    @include mixins.ff-fs-fw-fc(variables.$primary-font,12px,400,variables.$quintenary-color); 
}


.siteMain__weekDay__appointments__card__line{
    position: absolute;
    bottom:0.2rem;
    grid-area:4/1/5/7;
    width: 328px;
    height: 0.1px;
    opacity: 0.1;
    background: variables.$quaternary-color;
}

.siteMain__weekDay__appointments__card__hour{
    grid-area: 5/2/6/5;
    @include mixins.ff-fs-fw-fc(variables.$primary-font,12px,500,variables.$quaternary-color);  
}

.siteMain__weekDay__appointments__card__video{
    grid-area:6/2/7/5;
    @include mixins.videoCall();
    @include mixins.ff-fs-fw-fc(variables.$primary-font,14px,500,variables.$primary-color);
}

.siteMain__weekDay__appointments__card__audio{
    grid-area:6/5/7/7;
    @include mixins.call();
    @include mixins.ff-fs-fw-fc(variables.$primary-font,14px,500,variables.$quaternary-color);

}

.siteMain__weekDay__appointments__card__address{
    grid-area:6/2/7/7;
    @include mixins.address;
    @include mixins.ff-fs-fw-fc(variables.$primary-font,14px,500,variables.$primary-color);
}


