@use '../abstract/variables';
@use '../abstract/mixins';

.siteMain{
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
   
}

.siteMain__weekDay{
    /*width: 90%;*/
    h2{
        @include mixins.ff-fs-fw-fc(variables.$primary-font,max(16px,2.3vw),700,variables.$quaternary-color);
        margin-bottom:0.5rem;
    }
    margin: 0 5%;
    flex-grow: 1;
}

.siteMain__weekDay__appointments{
    display: flex;
    flex-direction:column;
    
    gap:16px;
    margin-bottom: 2rem;
}

.siteMain__weekDay__appointments__card{
    display: grid;
    background: variables.$primary-color;
    border-radius: 8px;
    backdrop-filter: blur(11px);
    height:170px;
    //padding: 1rem;
    /*grid-template-columns: 16px 48px 24px 85px 107px 32px 16px;*/
    grid-template-columns: 5% 15% 10% 25% 30% 10% 5%;
    grid-template-rows: 16px 23px 27px 13px 24px 48px 16px;
    //grid-template-columns: 10% 5% 20% 25% 10%; /* Use porcentagens para as colunas */
    //grid-template-rows: 10% 15% 5% 10% 20%; 
         
}

.siteMain__weekDay__appointments__card__profilePic{
    grid-area: 2 / 2 / 4 / 3;
    width:max(2rem,2vw);
    height: auto;
    //width: 100%;
    //max-width: 40px;
    justify-self: center;

    border-radius: 16px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.siteMain__weekDay__appointments__card__name{
    grid-area: 2/3/3/5;
    width: 116px;
    position: absolute;
    bottom: 0.1rem;
    @include mixins.ff-fs-fw-fc(variables.$primary-font,14px,700,variables.$quaternary-color);
    line-height: 160%;    
}

.siteMain__weekDay__appointments__card__chat{
    grid-area: 2/6/3/6;
    width: 32px;
    height: 32px;
}

.siteMain__weekDay__appointments__card__camera{
    grid-area:3/3/4/4;
    //width: 16px;
    height: 10.667px;
    width:max(2rem,10vw);
    //height: auto;
}

.siteMain__weekDay__appointments__card__service{
    grid-area:3/4/4/6;
    @include mixins.ff-fs-fw-fc(variables.$primary-font,max(12px,2vw),400,variables.$quintenary-color); 
}


.siteMain__weekDay__appointments__card__line{
    position: absolute;
    bottom:0.2rem;
    grid-area:4/1/5/7;
    width: 320px;
    //width: 100%;
    height: 0.1px;
    opacity: 0.1;
    background: variables.$quaternary-color;
}

.siteMain__weekDay__appointments__card__hour{
    grid-area: 5/2/6/5;
    @include mixins.ff-fs-fw-fc(variables.$primary-font,12px,500,variables.$quaternary-color);  
}

.siteMain__weekDay__appointments__card__video{
    grid-area:6/2/7/5;
    @include mixins.videoCall();
    @include mixins.ff-fs-fw-fc(variables.$primary-font,14px,500,variables.$primary-color);
}

.siteMain__weekDay__appointments__card__audio{
    grid-area:6/5/7/7;
    @include mixins.call();
    @include mixins.ff-fs-fw-fc(variables.$primary-font,14px,500,variables.$quaternary-color);

}

.siteMain__weekDay__appointments__card__address{
    grid-area:6/2/7/7;
    @include mixins.address;
    @include mixins.ff-fs-fw-fc(variables.$primary-font,14px,500,variables.$primary-color);
}


