@use '../abstract/variables';
@use '../abstract/mixins';

.siteHeader{
    display: flex;
    align-items:center;
    gap:16px;
    margin: 5% 5%;
    margin-bottom:1.9rem ;
}



.siteHeader__image__sonia{
    width: max(3.6rem,5vw);
    height: auto;

    border-radius: 57px;
    background: url(<path-to-image>) lightgray -44.533px -13.58px / 346.831% 231.027% no-repeat;
}

.siteHeader__summary{
    display: flex;
    flex-direction: column;
    gap:8px;

    h2{
        @include mixins.ff-fs-fw-fc(variables.$primary-font,max(1.4rem,3vw),700,variables.$quaternary-color);
    }

    p{
        @include mixins.ff-fs-fw-fc(variables.$primary-font,max(0.9rem,2vw),400,variables.$quintenary-color); 
    }
}