@use '../abstract/variables';

@mixin ff-fs-fw-fc($f-family,$f-size,$f-weight,$f-color){
    font-family: $f-family;
    font-size: $f-size;
    font-weight: $f-weight;
    color: $f-color;
}

@mixin videoCall(){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 139px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background: variables.$terciary-color;
    box-shadow: 0px 4px 16px 0px rgba(255, 176, 80, 0.16);
}

@mixin call(){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 139px;
    height: 48px;
    border-radius: 8px;
    background: variables.$primary-color;
    border: 1px solid #ECECEC;
}

@mixin address(){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 580px;
    height: 48px;
    border-radius: 8px;
    background: variables.$secundary-color;
    border: 1px solid #ECECEC;
}

@mixin menuItems(){
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.3;
}
