@use '../abstract/variables';

body{
    box-sizing: border-box;
    background:variables.$background-color;
    //font-size: max(5vw);
}


footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}