@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$background-color:#E5E5E5;
$primary-color:#FFFFFF; 
$secundary-color:#4894FF;
$terciary-color:#FFB050;
$quaternary-color:#464646;
$quintenary-color:#A3A3A3;

$primary-font: 'Montserrat', sans-serif;
