@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
} 
body {
  box-sizing: border-box;
  background: #E5E5E5;
  margin: 2rem 1rem;
}

.siteHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 1.9rem;
}

.siteHeader__image__sonia {
  width: 57px;
  height: 57px;
  border-radius: 57px;
  background: url(<path-to-image>) lightgray -44.533px -13.58px/346.831% 231.027% no-repeat;
}

.siteHeader__summary {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.siteHeader__summary h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #464646;
  align-self: flex-start;
}
.siteHeader__summary p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #A3A3A3;
}

.today h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #464646;
  margin-bottom: 0.5rem;
}

.appointments {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  display: grid;
  background: #FFFFFF;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(11px);
          backdrop-filter: blur(11px);
  width: 328px;
  height: 170px;
  align-items: start;
  grid-template-columns: 1rem 3rem 1.6rem 5.3rem 6.7rem auto;
  grid-template-rows: 1.3rem 1.3rem 1.7rem 0.8rem 1.6rem auto;
}

.card__profilePic {
  grid-area: 2/2/3/3;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: url(<path-to-image>) lightgray 50%/cover no-repeat;
}

.card__name {
  grid-area: 2/3/3/5;
  width: 116px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #464646;
  line-height: 160%;
}

.card__chat {
  grid-area: 2/6/3/7;
  width: 32px;
  height: 32px;
}

.card__camera {
  grid-area: 3/3/4/4;
  position: absolute;
  top: 0.2rem;
  width: 16px;
  height: 10.667px;
}

.card__service {
  grid-area: 3/4/4/6;
  position: absolute;
  top: 0.15rem;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #A3A3A3;
}

.card__line {
  position: absolute;
  bottom: 0.2rem;
  grid-area: 4/1/5/7;
  align-self: start;
  width: 328px;
  height: 0.1px;
  opacity: 0.1;
  background: #464646;
}

.card__hour {
  grid-area: 5/2/6/5;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #464646;
}

.card__video {
  grid-area: 6/2/7/5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 139px;
  height: 48px;
  border-radius: 8px;
  background: #FFB050;
  box-shadow: 0px 4px 16px 0px rgba(255, 176, 80, 0.16);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
}

.card__audio {
  grid-area: 6/5/7/7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 139px;
  height: 48px;
  border-radius: 8px;
  background: #FFFFFF;
  border: 1px solid #ECECEC;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #464646;
}

.card__address {
  grid-area: 6/2/7/7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 296px;
  height: 48px;
  border-radius: 8px;
  background: #4894FF;
  border: 1px solid #ECECEC;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
}